body {
    max-width: 1000px;
    margin: 0 auto;
    font: 1.0em Arial, Helvetica, sans-serif
}
h1{
    text-align: center;
    border: 5px solid olivedrab;

}
.box {
    float:left;
	border: 2px solid darkblue;
	padding-left: 10px;
}
.box2 {
    float:right;
  border: 2px solid red;
}


