main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
text-align:center;
	
}
nav{

	float:left;
	padding-right:20px;
	border:1px solid red;

}

#section1{
	float:left;
	border:1px solid blue;
    width:400px;
}

#section2{

	width:900px;
	border:1px solid black;

}
footer{
	font-style:oblique;
    clear:left;

}
